.idk
{
	text-align:center;
}
/*This is for the book cover being centred*/
h1
{
font-family:"Century Gothic","Bradley Hand ITC",Arial, Verdana, serif, monospace;
font-size:50pt;
font-weight:bold;
font-style:Italic;
color:white;
text-align:center;	
width:100%;	
}
/*this is for the h1 withing the heading, I want it to really pop up.*/
h2
{
font-family:"Century Gothic","Bradley Hand ITC",Arial, Verdana, serif, monospace;
font-size:36pt;
font-weight:600;
font-style:normal;
color:white;
text-align:center;	
width:100%;
padding-top:20px;
   padding-right:125px;
   padding-bottom:20px;
   padding-left:125px;
}
/*This is for the titles of the paragraphs*/
h3
{
	font-family:"Century Gothic","Bradley Hand ITC",Arial, Verdana, serif, monospace;
font-size: 24pt;
font-weight:600;
font-style:normal;
color:white;
text-align:center;	
width:100%;
padding-top:20px;
   padding-right:125px;
   padding-bottom:20px;
   padding-left:125px;
}
/*This is for h3s.*/
.dajurou 
{
        text-align: center; 
    }
.dajurou ul 
{
        display: inline-block;
        margin: 0;
       padding-top:20px;
   padding-right:125px;
   padding-bottom:20px;
   padding-left:125px;
		font-family:"Century Gothic","Bradley Hand ITC",Arial, Verdana, serif, monospace;
font-size:20pt;
font-weight:400;
font-style:normal;
color:white;
line-height:2.0;
text-align:center;
text-decoration: underline;
}
/*This is for the list itself and it being centred*/
body
{
background-color:#373a42;
   margin:auto;
   padding-top:20px;
   padding-right:125px;
   padding-bottom:20px;
   padding-left:125px;
}
/*This is for setting the background colour, thw width of the paragraphs and the margin*/
p
{
font-family:"Century Gothic","Bradley Hand ITC",Arial, Verdana, serif, monospace;
font-size: 20pt;
font-weight:400;
font-style:normal;
color:white;
line-height:40pt;
text-align:justify;
padding-right:125px;
 padding-left:125px;
 width:100%;
}
/*This is for the list*/
.lebo
{
	font-family:"Century Gothic","Bradley Hand ITC",Arial, Verdana, serif, monospace;
font-size:20pt;
font-weight:normal;
font-style:normal;
color:white;
text-align: center; 
padding-top:20px;
   padding-right:125px;
   padding-bottom:20px;
   padding-left:125px;
   width:100%;
  }
  /*this is for the last h1 and h2 in index.html*/
  .lalala
  {
	font-family:"Century Gothic","Bradley Hand ITC",Arial, Verdana, serif, monospace;
font-size: 20pt;
font-weight:400;
font-style:normal;
color:white;
line-height:40pt;
text-align:center;  
padding-top:20px;
   padding-right:125px;
   padding-bottom:20px;
   padding-left:125px;
      width:100%;
  }
  .bonus
  {
	  font-family:"Century Gothic","Bradley Hand ITC",Arial, Verdana, serif, monospace;
font-size:20.5pt;
font-weight:400;
font-style:normal;
color:white;
text-align:center;
padding-top:20px;
   padding-right:125px;
   padding-bottom:20px;
   padding-left:125px;
      width:100%;
  }
  /*This is for the last h1 and h2 of bonus production.html */
  .somethinglike
  {
	font-family:"Century Gothic","Bradley Hand ITC",Arial,Verdana,serif,monospace;
font-size:20pt;
font-weight:normal;
font-style:Italic;
color:white;
line-height:40pt;
text-align:justify;  
padding-top:20px;
   padding-right:125px;
   padding-bottom:20px;
   padding-left:125px;
      width:100%;
  }
  /*This is for making the name of the book or mivie being set into Italic.*/
 .hahaha
 {
	font-family:"Century Gothic","Bradley Hand ITC",Arial, Verdana, serif, monospace;
font-size:36pt;
font-weight:600;
font-style:normal;
color:white;
text-align:center;	 
padding-top:20px;
   padding-right:125px;
   padding-bottom:20px;
   padding-left:125px;
      width:100%;
 }
 /*This is for the paragraphs following the first heading of each page.*/
 #wulala
 {
	font-family:"Century Gothic","Bradley Hand ITC",Arial, Verdana, serif, monospace;
font-size: 24pt;
font-weight:500;
font-style:normal;
color:white;
text-align:center;	 
 }
 /*This is for the paragraph that points to the movie page, used an id selector since this is the only element that involves this style.*/
 a:link    
 {color:white; background-color:transparent; text-decoration:none}
a:visited 
{color:white; background-color:transparent; text-decoration:none}
a:hover   
{color:white; background-color:transparent; text-decoration:underline}
a:active  
{color:white; background-color:transparent; text-decoration:underline}
 .anewthing
 {
	 text-decoration: underline;
	 font-style:normal;
 }	 
