.idk
{
	text-align:center;
}
/*This is for the book cover being centred*/
h1
{
font-family:"Century Gothic";Fantasy;sans-serif;
font-size:52pt;
font-weight:2.0;
font-style:Italic;
color:white;
text-align:center;		
}
/*this is for the h1 withing the heading*/
h2
{
font-family:"Century Gothic";Fantasy;sans-serif;
font-size:35pt;
font-weight:1.8;
font-style:normal;
color:white;
text-align:center;	
}
/*This is for the titles of the paragraphs*/
ul
{
	font-family:"Century Gothic";"Bradley Hand ITC";sans-serif;
font-size:19pt;
font-weight:2.0;
font-style:normal;
color:white;
line-height:2.0;
text-align:center;
}
/*This is for the list*/
h3
{
	font-family:"Century Gothic";Fantasy;sans-serif;
font-size: 26pt;
font-weight:1.8;
font-style:normal;
color:white;
text-align:center;	
}
/*This is for heading 2 and 3 within the heading of index.html, as well as for the h2 and the last h2s within the heading of bonus production.html*/
.wrapper 
{
        text-align: center; 
    }
.wrapper ul 
{
        display: inline-block;
        margin: 0;
        padding: 0;
}
/*This is for the list being centred*/
body
{
background-color:#373a42;
width:50%;
   margin:auto;
}
/*This is for setting the background colour, thw width of the paragraphs and the margin*/
p
{
font-family:"Century Gothic";"Bradley Hand ITC";sans-serif;
font-size: 21pt;
font-weight:1.8;
font-style:normal;
color:white;
line-height:40pt;
text-align:justify;
}
/*This is for the list*/
.lebo
{
	font-family:"Century Gothic";"Bradley Hand ITC";sans-serif;
font-size:21pt;
font-weight:1.8;
font style:normal;
color:white;
text-align: center; 
  }
  /*this is for the last h1 and h2 in index.html*/
  .lalala
  {
	font-family:"Century Gothic";"Bradley Hand ITC";sans-serif;
font-size: 21pt;
font-weight:1.8;
font-style:normal;
color:white;
line-height:40pt;
text-align:center;  
  }
  .bonus
  {
	  font-family:"Century Gothic";"Bradley Hand ITC";sans-serif;
font-size:1.5em;
font-weight:1.8;
font-style:normal;
color:white;
text-align:center;
  }
  /*This is for the last h1 and h2 of bonus production.html */
 
  
