h1
 {
	 font-family:"Century Gothic","Bradley Hand ITC",Arial, Verdana, serif, monospace;
	 font-size:40pt;
font-weight:bold;
font-style:Italic;
color:white;
text-align:right;	
padding-top:300px;
padding-right:50px;
padding-bottom:15px;
padding-left:270px;	
width:100%; 
 }
 /*This is for the big title*/
h2
 {
	font-family:"Century Gothic","Bradley Hand ITC",Arial, Verdana, serif, monospace;
font-weight:500;
font-style:normal;
font-size:30pt;
color:white;
text-align:right; 
text-decoration: none;
padding-top:15px;
padding-right:50px;
padding-bottom:180px;
padding-left:300px;	 
 }
 /*click on the options to access the pages.*/
 a:link    
 {color:white; background-color:transparent; text-decoration:none}
a:visited 
{color:white; background-color:transparent; text-decoration:none}
a:hover   
{color:white; background-color:transparent; text-decoration:underline}
a:active  
{color:white; background-color:transparent; text-decoration:underline}
body
{
	background-image: url(paperback.jpg);
	background-repeat: no-repeat;
    	background-position: center;
    	background-attachment: fixed;
	background-size: 100%;
}
/*I decided to use an image as the background of the body*/